.add-course {
    padding: 100px 80px;
    min-height: 100vh;
}

.add-course .form-input-field {
    display: flex;

}

.add-course .form-input-field .left-side {
    width: calc(100% / 3);
}

.add-course .form-input-field .right-side {
    width: calc(100% * 2 / 3);
    box-shadow: 0 5px 20px rgba(159, 162, 177, 0.5);
    margin-left: 30px;
    height: 65vh;
    overflow: auto;
}

.form-row {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.form-row * {
    vertical-align: middle;
}

.add-course .form-header {
    width: 150px;
    display: inline-block;
    line-height: 30px;
}

.add-course label {
    font-size: 18px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
}

.add-course input {
    border-radius: 15px;
    border: 1px solid #bcbcbc;
    height: 30px;
    padding: 0 10px;
    width: 100%;
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
}

.add-course textarea {
    border-radius: 15px;
    border: 1px solid #bcbcbc;
    resize: none;
    padding: 5px 10px;
    width: 100%;
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
}

.add-course .file-wrapper {
    width: 100%;
}

.custom-file-upload {
    border: 1px solid #bcbcbc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 15px;
    width: 150;
}

.custom-file-upload input {
    display: none;
}

.custom-file-upload i {
    color: #333;
}

.add-course .CourseDetail {
    padding: 0 20px;
    padding-top: 5px;
    min-height: 0;
    width: 100%;
}

.add-course img {
    margin-top: 20px;
}

.add-course .add-lesson table {
    margin: 70px 0 20px 0;
    border-radius: 5px 5px 0 0;
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
}

.add-course td, .add-course th {
    padding: 5px 15px;
    text-align: left;
    
}

.add-course tr:nth-child(1) {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    background-size: 200% auto;
    color: white;
}

.add-course th {
    line-height: 30px;
}

.add-course th:nth-child(1) {
    border-radius: 15px 0 0 0;
}

.add-course th:nth-child(4) {
    border-radius: 0 15px 0 0;
}

.add-course td {
    line-height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.add-course .delete-lesson {
    color: #EE490D;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.add-course .add-lesson {
    display: flex;
    justify-content: center;
}

.add-course .save-course {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}